<app-menu></app-menu>

<div class="container">
    <form #f="ngForm">
      <h2 class="text-center m-4" *ngIf="!todo.id else actualiza" >Crear Tarea</h2>

    <ng-template #actualiza>
      <h2 class="text-center m-4 ">Actualizar tarea</h2>
     </ng-template>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="todo.nombre" required>
          </div>
      </div>

      <div class="form-check col-sm-6">
          <input class="form-check-input" type="checkbox" id="completado" name="completado" [(ngModel)]="todo.completado">
          <label class="form-check-label" for="completado">Completado</label>
        </div>

        <div class="text-end">
          <button class="btn btn-success m-4" *ngIf="!todo.id else actualiza2" [disabled]="!f.valid" (click)="create()">Crear Tarea</button>
          <button class="btn btn-dark m-2" [routerLink]="['/todo']">Volver</button>

          <ng-template #actualiza2>
            <button class="btn btn-success m-4" [disabled]="!f.valid" (click)="update()">Actualiza Tarea</button>
          </ng-template>
        </div>


      </form>
</div>
